.main {
  color: blue;
}

.selected {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    background: lightcoral;
}

.selectedItem {
  font-weight: bold;
  background-color: #f0f0f0;
}